/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 30, 2021, 11:36:42 PM
    Author     : LucasBV
*/
h1{
    text-align: center;
    background-color: orange;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
}

h2{
    color: red;
    border-radius: 10px;
}
h3{
    color: #e81726;
}
.select{
    border: 1px solid rgba(0, 0 ,0, 0.3);
    padding: 3px;
    border-radius: 5px;

}
.container{
    background-color: #ffcccc;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}
.btn{
    background-color: #3399ff;
    border-radius: 10px;
    margin: 5px;
    border: none;
    padding: 5px 10px;
    color: white;

}
.chooseCampus{
    text-align: center;

}
.register{

    margin-bottom: 15px;

}
.register input{
    width: 22%;
    border: 1px solid rgba(0, 0 ,0, 0.3);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.register label{
    margin: 0px;
}
.login {
    margin-bottom: 15px;
}
.login p{
    margin: 0px;
}

.login input{
    width: 22%;
    border: 1px solid rgba(0, 0 ,0, 0.3);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.nav-bar{
    background-color: #f8f5f1;
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.nav-bar ul{
    list-style: none;
    flex-direction: row;
}
.nav-bar ul li{
    color: #ffcccc;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #f8552a;
    font-weight: bold;
    font-size: 20px;
}

.nav-bar ul li a:hover{
    background-color: #58eff2;
    padding: 5px 10px;
    border-radius: 5px;
}
.unorderList{
    list-style: none;
    border: 3px dashed #583f1b;
    border-radius: 10px;
    padding: 20px 40px;
    
}
.unorderList li{
    margin: 15px;
}

